<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegistroInicio</display-name>
    <servlet-name>RegistroInicio</servlet-name>
    <servlet-class>RegistroInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroInicio</servlet-name>
    <url-pattern>/RegistroInicio</url-pattern>
  </servlet-mapping>
  <display-name>AD_T1_EJER(III)_BIS_SESIONES_Y_COOKIES</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ejercicio2_Encuesta</display-name>
    <servlet-name>Ejercicio2_Encuesta</servlet-name>
    <servlet-class>ejer2.Ejercicio2_Encuesta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2_Encuesta</servlet-name>
    <url-pattern>/Ejercicio2_Encuesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio3</display-name>
    <servlet-name>Ejercicio3</servlet-name>
    <servlet-class>ejer3.Ejercicio3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio3</servlet-name>
    <url-pattern>/Ejercicio3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio2_Resultados</display-name>
    <servlet-name>Ejercicio2_Resultados</servlet-name>
    <servlet-class>ejer2.Ejercicio2_Resultados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2_Resultados</servlet-name>
    <url-pattern>/Ejercicio2_Resultados</url-pattern>
  </servlet-mapping>
</web-app>