<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servletinicio1</display-name>
    <servlet-name>Servletinicio1</servlet-name>
    <servlet-class>Ejercicio1.Servletinicio1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletinicio1</servlet-name>
    <url-pattern>/Servletinicio1</url-pattern>
  </servlet-mapping>
  <display-name>EjerciciosSincor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SegundoServlet1</display-name>
    <servlet-name>SegundoServlet1</servlet-name>
    <servlet-class>Ejercicio1.SegundoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SegundoServlet1</servlet-name>
    <url-pattern>/SegundoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1Ejer2</display-name>
    <servlet-name>Servlet1Ejer2</servlet-name>
    <servlet-class>Ejercicio2.Servlet1Ejer2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1Ejer2</servlet-name>
    <url-pattern>/Servlet1Ejer2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConcurrencia</display-name>
    <servlet-name>ServletConcurrencia</servlet-name>
    <servlet-class>Ejercicio2.ServletConcurrencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConcurrencia</servlet-name>
    <url-pattern>/ServletConcurrencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEjer3</display-name>
    <servlet-name>ServletEjer3</servlet-name>
    <servlet-class>Ejercicio3.ServletEjer3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEjer3</servlet-name>
    <url-pattern>/ServletEjer3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Ejer3</display-name>
    <servlet-name>Servlet2Ejer3</servlet-name>
    <servlet-class>Ejercicio3.Servlet2Ejer3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Ejer3</servlet-name>
    <url-pattern>/Servlet2Ejer3</url-pattern>
  </servlet-mapping>
</web-app>