<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletDispatcher</display-name>
    <servlet-name>ServletDispatcher</servlet-name>
    <servlet-class>ServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDispatcher</servlet-name>
    <url-pattern>/ServletDispatcher</url-pattern>
  </servlet-mapping>
  <display-name>EjerciciosDispatch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCorrecto</display-name>
    <servlet-name>ServletCorrecto</servlet-name>
    <servlet-class>ServletCorrecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCorrecto</servlet-name>
    <url-pattern>/ServletCorrecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletError</display-name>
    <servlet-name>ServletError</servlet-name>
    <servlet-class>ServletError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError</servlet-name>
    <url-pattern>/ServletError</url-pattern>
  </servlet-mapping>
</web-app>